{% extends "mails/base.html" %}

{% block content %}
    <p>
        A pipeline was executed for <strong>{{ event.project.path_with_namespace }}</strong> and
        resulted in the following deployments:
    </p>
    <ul class="checklist">
        {% for deployment in deployments %}
            <li class="{% if deployment.was_successful %}is-success{% else %}is-failure{% endif %}">
                <p class="title">
                    {{ deployment.target_name }}
                    {% if deployment.asset %}<small>{{ deployment.asset }}</small>{% endif %}
                </p>
                {% if deployment.exc or deployment.error %}
                    <details>
                        <summary>Details</summary>
                        {% if deployment.exc %}
                            <pre class="is-failure">{{ deployment.exc }}</pre>
                        {% endif %}
                        {% if deployment.error %}
                            <pre>{{ error }}</pre>
                        {% endif %}
                    </details>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
