Source: pipedput
Section: web
Priority: optional
Maintainer: Konrad Mohrfeldt <konrad.mohrfeldt@farbdev.org>
Build-Depends:
 debhelper,
 dh-exec,
 dh-python,
 dh-sysuser,
 python3-all,
 python3-flake8,
 python3-setuptools,
 wget,
# package dependencies
 dput,
 git,
 python3-cssselect,
 python3-flask,
 python3-flask-mail,
 python3-lxml,
 twine,
Standards-Version: 4.5.1

Package: pipedput
Architecture: all
Depends:
 ${misc:Depends},
 python3-pipedput,
 python3-uwsgidecorators,
 uwsgi-core,
 uwsgi-plugin-python3,
Recommends:
 ${misc:Recommends},
 nginx,
Description: A general-purpose GitLab pipeline artifact handler

Package: python3-pipedput
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-all,
 python3-flask,
 python3-flask-mail,
 python3-jinja2,
Suggests:
 ${misc:Suggests},
 dput,
 git,
 twine,
Description: A general-purpose GitLab pipeline artifact handler (python lib)
